

#fieldset{
    /*position: absolute; */
    padding:100px;
    margin-top: 50px; 
    margin-left: 250px;
    width:750px;
    height:550px; 
}
#form1{

    background-color: #00cccc;
    padding:5px;
}
#button1{

    padding:5px;
    margin-top: 15px;
    margin-left: 120px
}